---
layout: core
title: Peter Brandt in Pastel and Charcoal
---
		<div class="page-header">
			<h1 class="remove-bottom" style="margin-top: 40px">Peter Brandt</h1>
			<h5>custom portraits</h5>
		</div>

<div class="row">
<div class="col-md-4">
<h3>Send a photo (or a few)</h3>
<img src="{{ site.url }}/images/photos.png" class="img-responsive">
</div>
<div class="col-md-4">
<h3>For you or me or 50/50</h3>
<p>I like to sell pictures. It's how I get money to keep drawing (and eating).</p>
<p>You choose what happens with the drawing, who gets to keep it, who gets to profit and whether any prints are made.</p>
</div>
<div class="col-md-4">
<h3>Enjoy your drawings!</h3>
<img src="{{ site.url }}/images/drawings.png" class="img-responsive">
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
		<div class="col-md-8">
<ul class="posts">
  {% for post in site.posts %}
  <li class="post">
    <a href="{{ site.url }}{{ post.url }}" class="post-link {% if post.cover %}has-cover{% endif %}">
      {% if post.cover %}
        <div class="post-cover" style="background-image: url({{ site.url }}{{ post.cover }});" /></div>
      {% endif %}
      <div class="mark"></div>
      <h3 class="post-title">
        {{ post.title }}<br />
      </h3>
      <span class="meta">Posted <time data-time="{{ post.date }}" title="{{ post.date }}">{{ post.date | date_to_string }}</time></span>
      <p class="excerpt">{{ post.excerpt | strip_html | strip_newlines }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<nav class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="previous">&laquo;</a>
    {% else %}
      <a href="{{ site.url }}/page" class="previous">&laquo;</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page" class="next ">&raquo;</a>
  {% endif %}
</nav>

</div>
</div>


