---
layout: core
title: Peter Brandt in Pastel and Charcoal
---
		<div class="page-header">
	<h1 class="remove-bottom" style="margin-top: 40px">Peter Brandt</h1>
	<h5>custom portraits</h5>
		</div>

<div class="row">
<div class="col-sm-4">
<h3>Portraits from photos</h3>
<img src="{{ site.url }}/images/photos.png" class="img-responsive">
<p>Send me a photo and I'll draw it for you!  You decide if you want me to post the drawing to you, or if a digital copy is all you need.</p>
<img src="{{ site.url }}/images/drawings.png" class="img-responsive">
<a href="{{ site.url }}/contact.html" class="button">Send photo</a></div>
<div class="col-sm-4">
<h3>Trailer hire</h3>
<img src="{{ site.url }}/images/trailer.jpg" class="img-responsive">
<p>$50 for the weekend, pick up from Woodfood, Friday night or Saturday morning, return Sunday night. 
</p>
<p>
Trolley, tarp and/or straps available for $10 extra. 
</p>
<p>
Great for garden work, moving furniture or renovations. 
</p>
<p>
Call 0406 285 301 for a quote on day rates.
</p>
</div>
<div class="col-sm-4">
<h3>Test and Tag</h3>
<img src="{{ site.url }}/images/testtag.jpg" class="img-responsive">
<p>$20 for up to 4 units, $5 per unit thereafter.  Call out fees by arrangement.</p>
<p></p>
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
		<div class="col-md-8">
<ul class="posts">
  {% for post in paginator.posts %}
  <li class="post">
    <a href="{{ site.url }}{{ post.url }}" class="post-link {% if post.cover %}has-cover{% endif %}">
      {% if post.cover %}
        <div class="post-cover" style="background-image: url({{ site.url }}{{ post.cover }});" /></div>
      {% endif %}
      <div class="mark"></div>
      <h3 class="post-title">
        {{ post.title }}<br />
      </h3>
      <span class="meta">Posted <time data-time="{{ post.date }}" title="{{ post.date }}">{{ post.date | date_to_string }}</time></span>
      <p class="excerpt">{{ post.excerpt | strip_html | strip_newlines }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}" class="previous">Previous</a>
    {% else %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% endif %}
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>


</div>
</div>


