/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* From MailChimp */

#mc_embed_signup .asterisk {color:#c60;}
/* font-size:200%;}*/
#mc_embed_signup .asterisk {top:25px; right:10px;}
#mc_embed_signup .mc-field-group {width:96%;}

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

p.footnote {
    font-size: x-small;
    text-align: center;
}

/*a.header {
    color: black;
    text-decoration: none;
}*/

/* #Page Styles
================================================== */

#headerImage img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

div.right img {
    float: right;
}

p img.floatright {
      margin-left: 1em;
      float: right;
}

p img.floatleft {
      margin-right: 1em;
      float: left;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

/* adapting Design Shack's responsive grid */

.gallerythumb img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gallerythumb {
    float: left;    
    width: 16%;
    margin:  2% 2% 50px 2%; 
}

@media only screen and (max-width : 940px),
only screen and (max-device-width : 940px){
    .gallerythumb {width: 21%;}
}

@media only screen and (max-width : 720px),
only screen and (max-device-width : 720px){
    .gallerythumb {width: 29.33333%;}
}

@media only screen and (max-width : 530px),
only screen and (max-device-width : 530px){
    .gallerythumb {width: 46%;}
}
 
@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .gallerythumb {width: 96%;}
    .gallerythumb h5 {font-size: 18px;}
    .gallerythumb p, {font-size: 18px;}
}

.gallerythumbs {
  list-style-type: none;
  display: inline;
}

/* From Muan's blog */

.posts {
  text-align: center;
  font-size: 0; }
  .posts .post-link {
    color: inherit;
    font-size: 13px;
        text-decoration: none;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 25px;
    border: 1px solid transparent;
    overflow: hidden;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    .posts .post-link.has-cover {
      padding-right: 185px; }
    .posts .post-link .post-cover {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      width: 160px;
      top: 0;
      right: 0;
      background-size: cover;
      background-position: 50% 50%;
      border: 10px solid #fff;
      height: 100%;
    .posts .post-link .post-title {
      margin: 0 0 5px; }
    .posts .post-link .meta {
      font-size: 10px; }
    .posts .post-link .excerpt {
      color: #888;
      margin: 20px 0 0;
      max-height: 100px;
      overflow: hidden;
      font-weight: normal; }
    .posts .post-link:hover {
      border: 1px solid #eee;
      box-shadow: 0 0 25px #eee; }
      .posts .post-link:hover .mark {
        text-decoration: none;
        opacity: 1; }
      .posts .post-link:hover .post-cover {
        text-decoration: none;
        opacity: .6; }

/* */


