---
layout: core
lightbox: true
selz: true
---

<div class="page-header">
  <h1>{{ page.title }} <small>{{ site.tagline }}</small></h1>
</div>

{% for pic in page.pictures %}
  <div class="row">
<div class="col-xs-6">
<p>   <a href="{{ site.url }}/images/{{ page.slug }}/{{ pic.imgfile }}" data-lightbox="{{ page.slug }}" title="{{ pic.label }}: {{ pic.caption }}"><img src="{{ site.url }}/images/{{ page.slug }}/sm/{{ pic.imgfile }}" alt="image" class="floatright" /></a></div>
<div class="col-xs-6">
   <strong>{{ pic.label }}</strong>
   <br />{{ pic.caption }}</p>
<p>
{% if pic.selz %}
<script data-selz-t="_selz-btn-default" data-selz-a="modal" data-selz-ct="ffffff" data-selz-cb="7482ab" data-selz-b="http://selz.co/{{ pic.selz }}">
if (typeof _$elz === "undefined") { var _$elz = {}; }
if (typeof _$elz.b === "undefined") { 
_$elz.b = { e: document.createElement("script") }; 
_$elz.b.e.src = "https://selz.com/embed/button"; 
document.body.appendChild(_$elz.b.e); }
</script>
<a href="http://selz.co/1evurD9" target="_blank" class="_selz_nojs_link">Buy this on Selz</a>
<a href="https://selz.com" target="_blank" class="_selz_nojs_link">Sell digital downloads on Selz</a>  </p>
{% endif %}
  </div>
</div>
{% endfor %}


{{ content }}

