<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ page.title }} - Portraits by Peter Brandt</title>
	<meta name="description" content="An Australian artist working in charcoal and soft pastel on fabric.">
	<meta name="author" content="Veronica Brandt">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== 
	<link rel="stylesheet" href="stylesheets/skeleton.css"> -->


<!-- Bootstrap/fontawesome stuff -->


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="{{ site.url }}/stylesheets/base.css">
	<link rel="stylesheet" href="{{ site.url }}/stylesheets/layout.css">

<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link href='http://fonts.googleapis.com/css?family=Corben|Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>
<!-- link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Gabriela' rel='stylesheet' type='text/css' -->
{% if page.lightbox %}
<!-- Lightbox -->

<link href="{{ site.url }}/stylesheets/lightbox.css" rel="stylesheet" />
{% endif %}

{% if page.selz %}
<link href="//selzimg.s3.amazonaws.com/plugins/jquery/jquery.selz.min.css" rel="stylesheet">
{% endif %}

</head>
<body>

<!-- Google Analiutics Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39810562-2', 'peterbrandt.com.au');
  ga('send', 'pageview');

</script>

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
 <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/seventeendotportraitsbypb170.png" alt="Peter Brandt"></a>
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                  </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- li><a href="{{ site.url }}">Home</a></li -->
            <li><a href="{{ site.url }}/about.html">About</a></li>
            <li><a href="{{ site.url }}/blog/">News and views</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections <b class="caret"></b></a>
                  <ul class="dropdown-menu"><li><a href="{{ site.url }}/paris.html">Paris</a></li>
<li><a href="{{ site.url }}/picparts.html">Picturesque Parts</a></li>
                  </ul>
            </li>
            <li><a href="{{ site.url }}/contact.html">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
             <li><a href="http://facebook.com/AvalonPrand"><i class="fa fa-facebook"></i></a></li>
             <li><a href="http://twitter.com/avalonprand"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://plus.google.com/+PeterbrandtAu" rel="publisher"><i class="fa fa-google-plus"></i></a></li>
<li><a href="http://www.linkedin.com/pub/peter-brandt/99/66a/6b6"><i class="fa fa-linkedin"></i></a></li>
<li><a href="http://avalonprand.tumblr.com/"><i class="fa fa-tumblr"></i></a></li>
             <li><a href="http://pinterest.com/avalonprand"><i class="fa fa-pinterest"></i></a></li>
<li><a href="https://github.com/veromary/peterbrandt.com.au"><i class="fa fa-github"></i></a></li>
<li><a href="mailto:peterjabrandt@gmail.com"><i class="fa fa-envelope"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container">


{{ content }}
		</div><!-- container -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39810562-2', 'peterbrandt.com.au');
  ga('send', 'pageview');

</script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>

{% if page.lightbox %}
<script src="js/lightbox-2.6.min.js"></script>
{% endif %}

{% if page.selz %}
<script src="//selzimg.s3.amazonaws.com/plugins/jquery/jquery.selz.min.js"></script>
<script>
    jQuery.selz({
        buttonBg: "#1C76A8"
        buttonText: "#fff"
    });
</script>
{% endif %}

<!-- End Document
================================================== -->
</body>
</html>
