---
layout: core
---

<div class="page-header">
  <h1>{{ page.title }} <small>{{ site.tagline }}</small></h1>
</div>


<ul class="thumbnails">
{% for pic in page.pictures %}
 <li>
  <div class="thumbnail">
   <a href="http://peterbrandt.com.au/art/tables/worcs/big/{{ pic.bigurl }}" data-lightbox="{{ page.slug }}" title="{{ pic.label }}: {{ pic.caption }}"><img src="{{ pic.url }}" alt="image" /></a>

   <h5>{{ pic.label }}</h5>
   <p>{{ pic.caption }}</p>
  </div>
 </li>
{% endfor %}
</ul>

{{ content }}

